<link type="text/css" href="../../public/vendors/fancyBox/source/jquery.fancybox8cbb.css?v=2.1.5" rel="stylesheet" />
<link type="text/css" href="../../public/vendors/fancyBox/source/helpers/jquery.fancybox-buttons3447.css?v=1.0.5" rel="stylesheet" />
<link rel="stylesheet" href="../../public/vendors/jQuery-File-Upload/css/jquery.fileupload.css" />
<link rel="stylesheet" href="../../public/vendors/jQuery-File-Upload/css/jquery.fileupload-ui.css" />
<link type="text/css" href="../../public/css/custom_css/panel.css" rel="stylesheet" />



<aside class="right-side right-padding">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--section starts-->
        <h2>Add Gallery</h2>
        <ol class="breadcrumb">
            <li>
                <a href="dashboard">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="gallery">Gallery</a>
            </li>
            <li>
                <a href="addgallery">Add Gallery</a>
            </li>
        </ol>
    </section>
    <!--section ends-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- First Basic Table strats here-->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-fw fa-picture-o"></i> Add Gallery
                        </h3>
                    </div>
                    <div class="panel-body" style="padding:30px;">
                        <div class="row">
                            <p>
                                File Upload widget with multiple file selection, progress bars, validation and preview
                                images for jQuery.
                            </p>
                            <form id="fileupload" action="addgallery" method="POST" enctype="multipart/form-data">
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript>
                                    <input type="hidden" name="redirect" value="">
                                </noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-primary">
                                            <input type="file" name="image" value="{{image}}" class="form-control  " id="">
                                        </span>
                                        <input type="submit" value="upload" class="btn btn-lg btn-success">

                                    </div>
                                    <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                            aria-valuemax="100">
                                            <div class="progress-bar progress-bar-primary" style="width:0;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files">
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</aside>