<form action="newpassword/{{admin.email}}?_method=PUT" action="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="email" name="email" value="{{email}}" id="">
    <input type="password" name="password" value="{{password}}" placeholder="new password">
    <input type="submit" value="submit">
</form>