<div>
    <aside class="right-side right-padding">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--section starts-->
            <h2>Blank</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index-2.html">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li><a href="blank.html">Blank</a></li>
            </ol>
        </section>
        <!--section ends-->
        <div class="content">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Packages</h4>
                </div>
                <div class="panel-body">
                    <form action="packages" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-file-upload">
                                    <input type="file" name="image" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit">submit</button>
                </div>
                </form>
            </div>
        </div>
</div>
<!-- /.content -->
</aside>
<!-- /.right-side -->
</div>