<link href="../../public/css/admin-login.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="full-content-center">
        <div class="box bounceInLeft animated">
            {{!-- <img src="../../public/img/logo.png" class="logo" alt="image not found"> --}}
            <h2 style="color:white">Gym_Mania</h2>
            <h3 class="text-center">Admin Register</h3>
            <form class="form" action="/admin/register" id="log_in" method="post">
                <div class="form-group">
                    <label class="sr-only"></label>
                    <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label class="sr-only"></label>
                    <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Email"
                        required>
                </div>
                <div class="form-group">
                    <label class="sr-only"></label>
                    <input type="password" class="form-control" name="password" value="{{password}}" placeholder="Password"
                        required>
                </div>
                <input type="submit" class="btn btn-block btn-warning" value="Register">
            </form>
            <p class="text-right"><a href="login" class="text-warning forgot_color">Login</a></p>
        </div>
    </div>
</div>